{{extend 'layout.html'}}
{{# Expects: blog_post, [blog_comment], }}
{{# =BEAUTIFY(current_post)}}

<h1>{{=current_post.title}}</h1>
<h2>By {{=author}}</h2>
<h3>On {{=str(current_post.created_date)}}</h3>
<p>
    {{=current_post.body}}
</p>

        Comments here

{{for post in comments:}}
<div class="comment_post">
  On {{=post.created_date}} {{=post.author_user.first_name}}
  says <span class="post_body">{{=post.body}}</span>
</div>
{{pass}}

{{=LOAD(f='new_comment.load',ajax=True, args=[current_post])}}



