{{extend 'layout.html'}}

<div class="main-content">
<div class="container">
<div class="row">
<div id="content" class="main-content-inner col-sm-12 col-md-8">
<article id="post" class="post page type-page status-publish hentry">
<header>
<h2>{{=current_post.title}}</h2>
<h5><i> {{=A(author, _href=URL('home', args=[current_post.author_user_id]))}}</i></h5>
<h5><i>{{=current_post.created_date}}</i></h5>
</header><br>
<div class="entry-content">
<div class="entry-content-thumbnail">
</div>
{{=current_post.body}}
</div>
</article>

<br>
<h3>Comments:</h3>
{{for post in comments:}}
<article id="div-comment-3" class="comment-body media">
    <a class="pull-left" href="#">
    <img alt='' src='//2.gravatar.com/avatar/ef331c6e33890a8fa68e36cb7a7f0f87?s=50&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/ef331c6e33890a8fa68e36cb7a7f0f87?s=100&amp;d=mm&amp;r=g 2x' class='avatar avatar-50 photo' height='50' width='50'/> </a>
    <div class="media-body">
        <div class="media-body-wrap panel panel-default">
            <div class="panel-heading">
                {{ comment_author = db.auth_user(db.auth_user.id == post.author_user_id)}}
                {{ comment_author_name = '%s %s' % (comment_author.first_name, comment_author.last_name)}}

                <h5 class="media-heading">
                    <cite class="fn"> {{=A(comment_author_name, _href=URL('home', args=[comment_author.id]))}}</cite>
                    <span class="says">says:</span>
                </h5>
                <div class="comment-meta">
                    <time datetime="2007-09-04T10:49:03+00:00">
                        {{=post.created_date}}
                    </time>
                </div>
            </div>
            <div class="comment-content panel-body">
                <p>{{=post.body}}</p>
            </div>
        </div>
    </div>
</article>
{{pass}}

{{=LOAD(f='new_comment.load',ajax=True, args=[current_post])}}

</div>
</div>
</div>
</div>


