{{extend 'layout.html'}}
<body>
{{if not auth.is_logged_in():}}
{{redirect(URL('prompt_login'))}}
{{pass}}
{{ author = db.auth_user(db.auth_user.id == author_id)}}
{{ author_name = '%s %s' % (author.first_name, author.last_name)}}

   Homepage for {{=author_name}}<br><br>
    {{if auth.is_logged_in():}}
    {{if int(author_id) == int(auth.user_id):}}
        <div id="b">{{=A('New Post', _href=URL('new_post'))}}</div><br>
    {{pass}}
    {{pass}}


   Old posts:


        {{for blog_post in blog_posts:}}
            {{post_title = '%s %s' % (blog_post.title, str(blog_post.created_date))}}
            <li>
                {{=A(post_title, _href=URL('blog_post', args=[blog_post.id]))}}

                    {{if auth.is_logged_in():}}
                    {{if int(author_id) == int(auth.user_id):}}
                        <a href="{{=URL('edit_post', args=[blog_post.id])}}" class="btn btn-info" role="button">Edit</a>
                    {{pass}}
                    {{pass}}
            </li>
            {{pass}}
    </ul>
</body>
